---
import Title from "@components/Title.astro";
import Badge from "@components/Badge.astro";

import CodeIcon from "@icons/Code.astro";
import WebIcon from "@icons/Web.astro";

const projects = [
    {
        title: "Github Profile",
        description: "Mira tu perfil de github de forma bonita 🙃",
        img: "/projects/gh-profile.webp",
        code_url: "https://github.com/Angelito91/gh-profile",
        web_url: "https://angelito91.github.io/gh-profile/",
    },
];
---

<Title text="Proyectos" Icon={CodeIcon} />

<div class="grid grid-cols-2 gap-3">
    {
        projects.map((project) => (
            <article>
                <img
                    loading="lazy"
                    class="w-full rounded-lg aspect-video"
                    src={project.img}
                    alt={`${project.title}-screenshot`}
                />
                <p class="my-4 text-xl font-bold text-brand-blue sm:text-3xl">
                    {project.title}
                </p>
                <p class="mb-5 text-md sm:text-lg">{project.description}</p>
                <div class="flex items-center gap-5">
                    <Badge link={project.code_url} text="Codigo fuente">
                        <CodeIcon />
                    </Badge>
                    <Badge link={project.web_url} text="Web">
                        <WebIcon />
                    </Badge>
                </div>
            </article>
        ))
    }
</div>
